@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap');

body{
	background-color: white;
	font-family: 'Vollkorn', serif;
    width: 8.5in;
    height: 11in;
}

/* CSS for each Element */
div.element{
	/* Page break after each element */
    page-break-after: always;
}

/* CSS for each ElementInput's All Tables of Processes */
div.table-process{
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(4in, 1fr)); */
	/*grid-template-columns: auto auto;*/
}

/* CSS for ElementResult's with max amount of plots per page */
div.max-plot{
	page-break-after: always;
	page-break-inside: avoid;
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(4in, 1fr)); */
}

/* CSS for ElementResult's with non-max amount of plots per page */
div.non-max-plot{
	page-break-before: auto;
	page-break-inside: avoid;
}

/* CSS for the Caption of all Tables */
caption{
	caption-side: top;
	font-weight: bold;
}

/* CSS for Non-nested Tables under ElementInput */
table.single{
	width: 100%;
	padding-bottom: 0.3in;
}

/* CSS for Nested Tables under ElementInput */
table.nested{
	margin: auto;
	page-break-inside: avoid;
	width: 100%;
}

/* CSS for StatisticResult's table */
table.statistic-result{
	page-break-inside: avoid;
	width: 100%;
	/* padding-bottom: 0.3in; */
}

/* CSS for GlobalSummary's table */
table.global-summary{
	width: 100%;
	page-break-after: always;
}

/* CSS for all Data Columns */
td{
	text-align: center;
	padding-left: 0.2in;
	padding-right: 0.2in;
}

/* CSS for all Header Columns */
th{
	text-align: center;
	border-bottom: 1px solid black;
}

/* CSS for first Data Column */
td:nth-child(1){
	text-align: left;
	padding-left: 0.1in;
	padding-right: 0.1in;
}

/* CSS for first Data Column of Non-Nested Tables under ElementInput */
td.element-non-nested:nth-child(1){
	text-align: left;
	padding-left: 0.1in;
	padding-right: 0.1in;
	width: 32%;
}

/* CSS for each Cell in a nested Table under ElementInput */
td.nested-table{
	background-color: white;
	padding-top: 0.2in;
}

/* CSS for odd Table Rows */
tr:nth-child(odd){
  background: #eee;
  -webkit-print-color-adjust: exact;
}

/* CSS for each of ElementInput's single processes */
p.single-process{
	padding-bottom: 0.3in;
}

/*(@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
} */
